h1.title {
  color: #f95006;
  text-align: center;
  padding: 60px;
}
h2.header {
  padding: 30px;
}
h2,
h3,
h4 {
  color: #f8720d;
}
h3 {
  padding: 5px;
  text-align: center;
}
.container.full-page {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  padding: 12px;
}
.current-location-box {
  font-weight: bold;
  text-align: center;
}
.temperature-description-box {
  list-style: none;
  padding: 0;
}
.weather-icon {
  color: purple;
  height: 60px;
  width: 60px;
}
